@charset "utf-8";

/* Font Start */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?57098116#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
}
/* Font End */

/* header */
header { position: relative; margin: 0 0 20px 0; padding: 24px; color: #fff; background: #666; font-weight: normal; }
header h1 { font-weight: normal; font-family: 'Nunito', sans-serif; font-size: 32px; }
header p { position: absolute; top: 50%; right: 18px; width: 36px; height: 36px; margin-top: -20px; border: 1px solid #ccc; overflow: hidden; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; cursor: pointer; }
header p:after { position: absolute; top: 50%; left: 50%; font-size: 20px; margin: -10px 0 0 -10px; font-family: "fontello"; content: "\e803"; }
header p:hover { background: #ccc; }
header p:hover:after { color: #666; }
header p span { display: block; text-indent: -9999px; }


/* footer */
footer { clear: both; }

/* common */
header ,
main[role="main"] ,
footer { min-width: 320px; }


body.load:before { content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(42,42,42,0.6); z-index: 999; }
body.load:after { content: url("../img/common/load.gif"); position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 66px; width: 66px; z-index: 1000; }

ul#FlickrPhotos li.off { opacity: 0; }
ul#FlickrPhotos li { float: left; list-style: none; opacity: 1;
transition: opacity 1s linear 0;
}
ul#FlickrPhotos li img { vertical-align: bottom; }
p.nextbtn { clear: both; }

#tags { overflow: hidden; }
#tags li { float: left; margin: 0 12px 0 0; list-style: none; }
#FlickrPhotos { clear: both; }